@import "variables";

*,
*:before,
*:after {
	box-sizing: border-box;
	user-select: none;
	cursor: default;
}

.app {
	background: black linear-gradient(to bottom, $color-blue-1, $color-blue-2, $color-blue-3);
	color: white(0.75);
	height: 100vh;
	font-size: 14px;
	font-family: $font-family, sans-serif;
	overflow: hidden;
	margin: 0;
	line-height: 1.25;
	box-shadow:
		0 0 2px black(0.15),
		-25px 0 100px 0 black(0.25) inset;
}

hr {
	border: none;
	border-bottom: 1px solid white(0.25);
}

a {
	text-decoration: none;
	color: white(1);

	&:hover {
		color: white(1);
	}
}
