@import "variables";

.main-content {
	padding: 15px;

	&--title {
		font-size: 1em;
	}

	&--title-sub {
		font-size: 1em;
	}

	&__icons {
		&--icon {
			width: 15px;
			height: auto;
			opacity: 0.5;
		}
	}
}

