@import "variables";

.title-bar {
	display: flex;
	border-bottom: 1px solid white(0.25);
	line-height: 1;

	&__app-title {
		position: relative;
		top: 4px;
		left: 5px;
		padding: 0;
		margin: 0;
		font: {
			size: 10px;
			weight: bold;
		}
		line-height: 1;
	}

	&__controls {
		width: 100%;
		text-align: right;

		&--button {
			padding: 0;
			margin: 0;
			padding: 3px 6px;
			line-height: 1;
			background: none;
			border: none;
			font: {
				size: 10px;
				weight: bold;
				family: sans-serif;
			}
			color: white(0.75);
			border-left: 1px solid white(0.25);

			&:hover {
				color: white(1);
			}

			&:active,
			&:focus {
				outline: 0;
			}
		}

		&--help {
			font-size: 8px;
		}

		&--exit {
			&:hover {
				background: rgba(255, 0, 0, 0.5);
			}
		}
	}
}
